In [25]:
#Name: Jordyn Lutz
#Date: 3/15/2022
#Description: Python Methods

In [26]:
import numpy as np

In [27]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [47]:
n=0
while n<5 or n>15:
 n = int(input("Enter an integer from 5 to 15: "))

 if n<5 or n>15:
   print("That integer is invalid, please enter an integer from 5 to 15: ")

Enter an integer from 5 to 15: 19
That integer is invalid, please enter an integer from 5 to 15:
Enter an integer from 5 to 15: 6

In [48]:
MyList=random_list(n)
MyList

[47, 46, 47, 36, 49, 45]

In [49]:
MySum=sum (MyList)
MySum

270

In [50]:
print ("The elements of the array are: " + ' '.join(str(element) for element in MyList))

The elements of the array are: 47 46 47 36 49 45

In [51]:
outputSum=str(MySum)
print("The sum is: "+ outputSum)

The sum is: 270